:root {
	/* Colors */
	--primary: #BF1D2C;
	--secondary: #000000;
	--teritary: #231F20;

	--text: #231F20;

	--grey: #475053;
	--light-grey: #F0FBFF;

    /* Fonts*/
	--base-font: 'Roboto', sans-serif;
	--base-font-strong : 'Roboto', sans-serif;
	--base-font-w : 300;
	--base-font-strong-w: 500;

	--accent-font: 'Fira Sans', sans-serif;
	--accent-font-strong : 'Fira Sans', sans-serif;
	--accent-font-w: 400;
	--accent-font-strong-w: 500;

	--base-font-size: 20px;

	/* Animation Speed */
	--default-transition: all 300ms ease-in-out;
}
