.elementor-165 .elementor-element.elementor-element-67c3d6b {
	margin-top: 0px;
	margin-bottom: -100px;
	padding: 70px 0px 0px 0px;
	z-index: 5;
}

.elementor-165 .elementor-element.elementor-element-71bf45b {
	text-align: left;
}

.elementor-165 .elementor-element.elementor-element-71bf45b img {
	width: 200px;
}

.elementor-165 .elementor-element.elementor-element-71bf45b>.elementor-widget-container {
	margin: 0px 0px 0px 50px;
}

.elementor-165 .elementor-element.elementor-element-3cd4b70:not(.elementor-motion-effects-element-type-background),
.elementor-165 .elementor-element.elementor-element-3cd4b70>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-primary);
	background-image: url("../../2023/07/footer-top.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.elementor-165 .elementor-element.elementor-element-3cd4b70 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 40px 0px 100px 0px;
	z-index: 4;
}

.elementor-165 .elementor-element.elementor-element-3cd4b70>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-165 .elementor-element.elementor-element-3634b9e {
	width: 60%;
}

.elementor-bc-flex-widget .elementor-165 .elementor-element.elementor-element-3634b9e.elementor-column .elementor-widget-wrap {
	align-items: flex-end;
}

.elementor-165 .elementor-element.elementor-element-3634b9e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: flex-end;
	align-items: flex-end;
}

.elementor-165 .elementor-element.elementor-element-3634b9e>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-165 .elementor-element.elementor-element-5cbf84a .nav-menu a {
	font-family: "Roboto", Sans-serif;
	font-size: 1.2rem;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 0.6em;
	color: #FFFFFF;
}

.elementor-165 .elementor-element.elementor-element-5cbf84a .nav-menu .navbar .menu li a {
	padding: 0px 20px 0px 15px;
}

.elementor-165 .elementor-element.elementor-element-5cbf84a .nav-menu .navbar .menu li {
	margin: 0px 0px 0px 0px;
}

.elementor-165 .elementor-element.elementor-element-5cbf84a>.elementor-widget-container {
	margin: 0px 0px -10px 0px;
}

.elementor-165 .elementor-element.elementor-element-e180d71 .nav-menu a {
	font-family: "Roboto", Sans-serif;
	font-size: 1.1rem;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 0.6em;
	color: #FFFFFF;
}

.elementor-165 .elementor-element.elementor-element-e180d71 .nav-menu .navbar .menu li a {
	padding: 0px 20px 0px 15px;
}

.elementor-165 .elementor-element.elementor-element-e180d71 .nav-menu .navbar .menu li {
	margin: 0px 0px 0px 0px;
}

.elementor-165 .elementor-element.elementor-element-e180d71>.elementor-widget-container {
	margin: 0px 0px 40px 0px;
}

.elementor-165 .elementor-element.elementor-element-f0fc009 .nav-menu a {
	font-family: "Roboto", Sans-serif;
	font-size: 1.1rem;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 0.6em;
	color: #FFFFFF;
}

.elementor-165 .elementor-element.elementor-element-f0fc009 .nav-menu .navbar .menu li a {
	padding: 0px 20px 0px 15px;
}

.elementor-165 .elementor-element.elementor-element-f0fc009 .nav-menu .navbar .menu li {
	margin: 0px 0px 0px 0px;
}

.elementor-165 .elementor-element.elementor-element-f0fc009>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 11px 0px;
}

.elementor-165 .elementor-element.elementor-element-20b94e6 {
	width: 40%;
}

.elementor-bc-flex-widget .elementor-165 .elementor-element.elementor-element-20b94e6.elementor-column .elementor-widget-wrap {
	align-items: flex-end;
}

.elementor-165 .elementor-element.elementor-element-20b94e6.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: flex-end;
	align-items: flex-end;
}

.elementor-165 .elementor-element.elementor-element-20b94e6>.elementor-element-populated {
	padding: 113px 0px 0px 0px;
}

.elementor-165 .elementor-element.elementor-element-7c64e75 {
	text-align: right;
}

.elementor-165 .elementor-element.elementor-element-7c64e75 img {
	width: 100%;
	max-width: 259px;
}

.elementor-165 .elementor-element.elementor-element-7c64e75>.elementor-widget-container {
	margin: 0px 0px 50px 0px;
}

.elementor-165 .elementor-element.elementor-element-bd4bd9c {
	text-align: right;
	color: #FFFFFF;
	font-family: "Roboto", Sans-serif;
	font-size: 1rem;
	font-weight: 400;
}

.elementor-165 .elementor-element.elementor-element-bd4bd9c>.elementor-widget-container {
	margin: 0px 0px 50px 0px;
}

.elementor-bc-flex-widget .elementor-165 .elementor-element.elementor-element-239ab64.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-165 .elementor-element.elementor-element-239ab64.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-165 .elementor-element.elementor-element-239ab64>.elementor-element-populated {
	padding: 0px 30px 0px 0px;
}

.elementor-165 .elementor-element.elementor-element-433577e {
	--grid-template-columns: repeat(0, auto);
	--icon-size: 17px;
	--grid-column-gap: 10px;
	--grid-row-gap: 0px;
}

.elementor-165 .elementor-element.elementor-element-433577e .elementor-widget-container {
	text-align: center;
}

.elementor-165 .elementor-element.elementor-element-433577e .elementor-social-icon {
	background-color: #FFFDFD;
}

.elementor-165 .elementor-element.elementor-element-433577e .elementor-social-icon i {
	color: var(--e-global-color-primary);
}

.elementor-165 .elementor-element.elementor-element-433577e .elementor-social-icon svg {
	fill: var(--e-global-color-primary);
}

.elementor-165 .elementor-element.elementor-element-433577e .elementor-icon {
	border-radius: 0px 0px 0px 0px;
}

.elementor-165 .elementor-element.elementor-element-98ab551 img {
	width: 115px;
}