.elementor-199 .elementor-element.elementor-element-a7f2379>.elementor-container {
	min-height: 400px;
}

.elementor-199 .elementor-element.elementor-element-a7f2379:not(.elementor-motion-effects-element-type-background),
.elementor-199 .elementor-element.elementor-element-a7f2379>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2023/09/Services-Hero-Banner-1b-scaled.jpg");
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-199 .elementor-element.elementor-element-a7f2379 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 80px 0px 30px;
}

.elementor-199 .elementor-element.elementor-element-a7f2379>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-199 .elementor-element.elementor-element-a7f2379>.elementor-shape-bottom svg {
	height: 145px;
	transform: translateX(-50%) rotateY(180deg);
}

.elementor-199 .elementor-element.elementor-element-85a7e54>.elementor-element-populated {
	padding: 300px 0px 0px 0px;
}

.elementor-199 .elementor-element.elementor-element-bab3ad8 {
	margin-top: -60px;
	margin-bottom: 0px;
	padding: 0px 90px 0px 0px;
}

.elementor-199 .elementor-element.elementor-element-82d07e7 {
	text-align: right;
}

.elementor-199 .elementor-element.elementor-element-82d07e7 .elementor-heading-title {
	font-family: "Roboto", Sans-serif;
	font-size: 60px;
	font-weight: 300;
	text-transform: uppercase;
}

.elementor-199 .elementor-element.elementor-element-82d07e7>.elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

.elementor-199 .elementor-element.elementor-element-b5d6fa6 {
	text-align: right;
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 20px;
}

.elementor-199 .elementor-element.elementor-element-b5d6fa6>.elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

.elementor-199 .elementor-element.elementor-element-4218cf5 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 30px 100px 30px;
}

.elementor-199 .elementor-element.elementor-element-bbcd3a4 {
	padding: 75px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-199 .elementor-element.elementor-element-59254b7.elementor-column .elementor-widget-wrap {
	align-items: flex-start;
}

.elementor-199 .elementor-element.elementor-element-59254b7.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-199 .elementor-element.elementor-element-333433a img {
	width: 80%;
}

.elementor-bc-flex-widget .elementor-199 .elementor-element.elementor-element-6b14700.elementor-column .elementor-widget-wrap {
	align-items: flex-start;
}

.elementor-199 .elementor-element.elementor-element-6b14700.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-199 .elementor-element.elementor-element-6b14700>.elementor-element-populated {
	padding: 0px 0px 0px 50px;
}

.elementor-199 .elementor-element.elementor-element-84da1e3 {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 38px;
}

.elementor-199 .elementor-element.elementor-element-c6241e4 {
	padding: 100px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-199 .elementor-element.elementor-element-c39ce31.elementor-column .elementor-widget-wrap {
	align-items: flex-start;
}

.elementor-199 .elementor-element.elementor-element-c39ce31.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-199 .elementor-element.elementor-element-c39ce31>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 35px;
}

.elementor-199 .elementor-element.elementor-element-c39ce31>.elementor-element-populated {
	padding: 12% 15% 0% 15%;
}

.elementor-199 .elementor-element.elementor-element-b9e5ba1 .elementor-heading-title {
	font-family: "Roboto", Sans-serif;
	font-size: 60px;
	font-weight: 500;
}

.elementor-199 .elementor-element.elementor-element-0433ecf {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 38px;
}

.elementor-199 .elementor-element.elementor-element-181fcb4 {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 38px;
}

.elementor-199 .elementor-element.elementor-element-4cf572a {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 38px;
}

.elementor-bc-flex-widget .elementor-199 .elementor-element.elementor-element-99106a0.elementor-column .elementor-widget-wrap {
	align-items: flex-start;
}

.elementor-199 .elementor-element.elementor-element-99106a0.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-199 .elementor-element.elementor-element-99106a0>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-199 .elementor-element.elementor-element-9efb7cb {
	text-align: right;
}

.elementor-199 .elementor-element.elementor-element-9efb7cb img {
	width: 100%;
}

.elementor-199 .elementor-element.elementor-element-2feda0a {
	padding: 13% 0% 0% 0%;
}

.elementor-bc-flex-widget .elementor-199 .elementor-element.elementor-element-e78d3a2.elementor-column .elementor-widget-wrap {
	align-items: flex-start;
}

.elementor-199 .elementor-element.elementor-element-e78d3a2.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-199 .elementor-element.elementor-element-e78d3a2>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-199 .elementor-element.elementor-element-504e9c6 {
	text-align: right;
}

.elementor-199 .elementor-element.elementor-element-504e9c6 img {
	width: 100%;
}

.elementor-bc-flex-widget .elementor-199 .elementor-element.elementor-element-1daeaa2.elementor-column .elementor-widget-wrap {
	align-items: flex-start;
}

.elementor-199 .elementor-element.elementor-element-1daeaa2.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-199 .elementor-element.elementor-element-1daeaa2>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 35px;
}

.elementor-199 .elementor-element.elementor-element-1daeaa2>.elementor-element-populated {
	padding: 5% 15% 0% 15%;
}

.elementor-199 .elementor-element.elementor-element-7bfe729 .elementor-heading-title {
	font-family: "Roboto", Sans-serif;
	font-size: 60px;
	font-weight: 500;
}

.elementor-199 .elementor-element.elementor-element-b0dc01a {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 38px;
}

.elementor-199 .elementor-element.elementor-element-7542fd7 {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 38px;
}

.elementor-199 .elementor-element.elementor-element-842e808 {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 38px;
}

.elementor-199 .elementor-element.elementor-element-e922fea {
	padding: 13% 0% 10% 0%;
}

.elementor-bc-flex-widget .elementor-199 .elementor-element.elementor-element-500992a.elementor-column .elementor-widget-wrap {
	align-items: flex-start;
}

.elementor-199 .elementor-element.elementor-element-500992a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-199 .elementor-element.elementor-element-500992a>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 35px;
}

.elementor-199 .elementor-element.elementor-element-500992a>.elementor-element-populated {
	padding: 0% 15% 0% 15%;
}

.elementor-199 .elementor-element.elementor-element-f54ccb0 .elementor-heading-title {
	font-family: "Roboto", Sans-serif;
	font-size: 60px;
	font-weight: 500;
}

.elementor-199 .elementor-element.elementor-element-ac7b561 {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 38px;
}

.elementor-199 .elementor-element.elementor-element-4d116e2 {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 38px;
}

.elementor-199 .elementor-element.elementor-element-93c9c0e {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 38px;
}

.elementor-199 .elementor-element.elementor-element-a2717bb {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 38px;
}

.elementor-199 .elementor-element.elementor-element-18bfeec {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 38px;
}

.elementor-bc-flex-widget .elementor-199 .elementor-element.elementor-element-208afa0.elementor-column .elementor-widget-wrap {
	align-items: flex-start;
}

.elementor-199 .elementor-element.elementor-element-208afa0.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-199 .elementor-element.elementor-element-208afa0>.elementor-element-populated {
	padding: 16% 0% 0% 0%;
}

.elementor-199 .elementor-element.elementor-element-270023d {
	text-align: right;
}

.elementor-199 .elementor-element.elementor-element-270023d img {
	width: 100%;
}

@media(max-width:1366px) {
	.elementor-199 .elementor-element.elementor-element-b9e5ba1 .elementor-heading-title {
		font-size: 52px;
	}

	.elementor-199 .elementor-element.elementor-element-7bfe729 .elementor-heading-title {
		font-size: 52px;
	}

	.elementor-199 .elementor-element.elementor-element-f54ccb0 .elementor-heading-title {
		font-size: 52px;
	}

	.elementor-199 .elementor-element.elementor-element-208afa0>.elementor-element-populated {
		padding: 28% 0% 0% 0%;
	}
}

@media(min-width:768px) {
	.elementor-199 .elementor-element.elementor-element-59254b7 {
		width: 40%;
	}

	.elementor-199 .elementor-element.elementor-element-6b14700 {
		width: 60%;
	}

	.elementor-199 .elementor-element.elementor-element-c39ce31 {
		width: 60%;
	}

	.elementor-199 .elementor-element.elementor-element-99106a0 {
		width: 40%;
	}

	.elementor-199 .elementor-element.elementor-element-e78d3a2 {
		width: 40%;
	}

	.elementor-199 .elementor-element.elementor-element-1daeaa2 {
		width: 60%;
	}

	.elementor-199 .elementor-element.elementor-element-500992a {
		width: 60%;
	}

	.elementor-199 .elementor-element.elementor-element-208afa0 {
		width: 40%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-199 .elementor-element.elementor-element-59254b7 {
		width: 40%;
	}

	.elementor-199 .elementor-element.elementor-element-6b14700 {
		width: 60%;
	}

	.elementor-199 .elementor-element.elementor-element-c39ce31 {
		width: 100%;
	}

	.elementor-199 .elementor-element.elementor-element-99106a0 {
		width: 100%;
	}

	.elementor-199 .elementor-element.elementor-element-e78d3a2 {
		width: 100%;
	}

	.elementor-199 .elementor-element.elementor-element-1daeaa2 {
		width: 100%;
	}

	.elementor-199 .elementor-element.elementor-element-500992a {
		width: 100%;
	}

	.elementor-199 .elementor-element.elementor-element-208afa0 {
		width: 100%;
	}
}

@media(max-width:1024px) {
	.elementor-199 .elementor-element.elementor-element-a7f2379>.elementor-container {
		min-height: 275px;
	}

	.elementor-199 .elementor-element.elementor-element-a7f2379:not(.elementor-motion-effects-element-type-background),
	.elementor-199 .elementor-element.elementor-element-a7f2379>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-repeat: no-repeat;
	}

	.elementor-199 .elementor-element.elementor-element-a7f2379>.elementor-shape-bottom svg {
		height: 115px;
	}

	.elementor-199 .elementor-element.elementor-element-a7f2379 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px 40px 0px 0px;
	}

	.elementor-199 .elementor-element.elementor-element-85a7e54>.elementor-element-populated {
		padding: 200px 0px 0px 0px;
	}

	.elementor-199 .elementor-element.elementor-element-bab3ad8 {
		margin-top: -50px;
		margin-bottom: 0px;
		padding: 0px 40px 0px 0px;
	}

	.elementor-199 .elementor-element.elementor-element-82d07e7 .elementor-heading-title {
		font-size: 50px;
	}

	.elementor-199 .elementor-element.elementor-element-b5d6fa6>.elementor-widget-container {
		padding: 0px 0px 0px 0px;
	}

	.elementor-199 .elementor-element.elementor-element-4218cf5 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-199 .elementor-element.elementor-element-333433a {
		text-align: left;
	}

	.elementor-199 .elementor-element.elementor-element-333433a img {
		width: 100%;
		max-width: 295px;
	}

	.elementor-199 .elementor-element.elementor-element-6b14700>.elementor-element-populated {
		padding: 20px 20px 20px 20px;
	}

	.elementor-199 .elementor-element.elementor-element-c39ce31>.elementor-element-populated {
		padding: 20px 20px 20px 20px;
	}

	.elementor-199 .elementor-element.elementor-element-9efb7cb {
		text-align: left;
	}

	.elementor-199 .elementor-element.elementor-element-9efb7cb img {
		width: 80%;
	}

	.elementor-199 .elementor-element.elementor-element-504e9c6 {
		text-align: left;
	}

	.elementor-199 .elementor-element.elementor-element-504e9c6 img {
		width: 80%;
	}

	.elementor-199 .elementor-element.elementor-element-1daeaa2>.elementor-element-populated {
		padding: 20px 20px 20px 20px;
	}

	.elementor-199 .elementor-element.elementor-element-500992a>.elementor-element-populated {
		padding: 20px 20px 20px 20px;
	}

	.elementor-199 .elementor-element.elementor-element-208afa0>.elementor-element-populated {
		padding: 0% 0% 0% 0%;
	}

	.elementor-199 .elementor-element.elementor-element-270023d {
		text-align: left;
	}

	.elementor-199 .elementor-element.elementor-element-270023d img {
		width: 80%;
	}
}

@media(max-width:767px) {
	.elementor-199 .elementor-element.elementor-element-a7f2379>.elementor-container {
		min-height: 240px;
	}

	.elementor-199 .elementor-element.elementor-element-a7f2379:not(.elementor-motion-effects-element-type-background),
	.elementor-199 .elementor-element.elementor-element-a7f2379>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-position: center center;
	}

	.elementor-199 .elementor-element.elementor-element-a7f2379>.elementor-shape-bottom svg {
		height: 70px;
	}

	.elementor-199 .elementor-element.elementor-element-a7f2379 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px 40px 0px 0px;
	}

	.elementor-199 .elementor-element.elementor-element-85a7e54>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}

	.elementor-199 .elementor-element.elementor-element-bab3ad8 {
		margin-top: -20px;
		margin-bottom: 0px;
		padding: 0px 20px 0px 0px;
	}

	.elementor-199 .elementor-element.elementor-element-82d07e7 .elementor-heading-title {
		font-size: 28px;
	}

	.elementor-199 .elementor-element.elementor-element-82d07e7>.elementor-widget-container {
		padding: 0px 0px 0px 0px;
	}

	.elementor-199 .elementor-element.elementor-element-b5d6fa6 {
		text-align: right;
		font-size: 1rem;
		line-height: 1em;
	}

	.elementor-199 .elementor-element.elementor-element-b5d6fa6>.elementor-widget-container {
		padding: 0px 0px 0px 0px;
	}

	.elementor-199 .elementor-element.elementor-element-4218cf5 {
		padding: 0px 20px 0px 20px;
	}

	.elementor-199 .elementor-element.elementor-element-5bc0824>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-199 .elementor-element.elementor-element-bbcd3a4 {
		padding: 50px 0px 0px 0px;
	}

	.elementor-199 .elementor-element.elementor-element-6b14700>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-199 .elementor-element.elementor-element-84da1e3 {
		font-size: 1rem;
		line-height: 1.7em;
	}

	.elementor-199 .elementor-element.elementor-element-c6241e4 {
		padding: 100px 20px 0px 20px;
	}

	.elementor-199 .elementor-element.elementor-element-c39ce31>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-199 .elementor-element.elementor-element-b9e5ba1 .elementor-heading-title {
		font-size: 38px;
	}

	.elementor-199 .elementor-element.elementor-element-0433ecf {
		font-size: 1rem;
		line-height: 1.7em;
	}

	.elementor-199 .elementor-element.elementor-element-181fcb4 {
		font-size: 1rem;
		line-height: 1.7em;
	}

	.elementor-199 .elementor-element.elementor-element-4cf572a {
		font-size: 1rem;
		line-height: 1.7em;
	}

	.elementor-199 .elementor-element.elementor-element-9efb7cb img {
		width: 100%;
	}

	.elementor-199 .elementor-element.elementor-element-2feda0a {
		padding: 100px 20px 0px 20px;
	}

	.elementor-199 .elementor-element.elementor-element-e78d3a2>.elementor-element-populated {
		padding: 10% 0% 0% 0%;
	}

	.elementor-199 .elementor-element.elementor-element-504e9c6 img {
		width: 100%;
	}

	.elementor-199 .elementor-element.elementor-element-1daeaa2>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-199 .elementor-element.elementor-element-7bfe729 .elementor-heading-title {
		font-size: 38px;
	}

	.elementor-199 .elementor-element.elementor-element-b0dc01a {
		font-size: 1rem;
		line-height: 1.7em;
	}

	.elementor-199 .elementor-element.elementor-element-7542fd7 {
		font-size: 1rem;
		line-height: 1.7em;
	}

	.elementor-199 .elementor-element.elementor-element-842e808 {
		font-size: 1rem;
		line-height: 1.7em;
	}

	.elementor-199 .elementor-element.elementor-element-e922fea {
		padding: 100px 20px 0px 20px;
	}

	.elementor-199 .elementor-element.elementor-element-500992a>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-199 .elementor-element.elementor-element-f54ccb0 .elementor-heading-title {
		font-size: 38px;
	}

	.elementor-199 .elementor-element.elementor-element-ac7b561 {
		font-size: 1rem;
		line-height: 1.7em;
	}

	.elementor-199 .elementor-element.elementor-element-4d116e2 {
		font-size: 1rem;
		line-height: 1.7em;
	}

	.elementor-199 .elementor-element.elementor-element-93c9c0e {
		font-size: 1rem;
		line-height: 1.7em;
	}

	.elementor-199 .elementor-element.elementor-element-a2717bb {
		font-size: 1rem;
		line-height: 1.7em;
	}

	.elementor-199 .elementor-element.elementor-element-18bfeec {
		font-size: 1rem;
		line-height: 1.7em;
	}

	.elementor-199 .elementor-element.elementor-element-270023d img {
		width: 100%;
	}
}