.elementor-618 .elementor-element.elementor-element-a7f2379>.elementor-container {
	min-height: 400px;
}

.elementor-618 .elementor-element.elementor-element-a7f2379:not(.elementor-motion-effects-element-type-background),
.elementor-618 .elementor-element.elementor-element-a7f2379>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2023/10/Industries-Circle.jpg");
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-618 .elementor-element.elementor-element-a7f2379 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 80px 0px 30px;
}

.elementor-618 .elementor-element.elementor-element-a7f2379>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-618 .elementor-element.elementor-element-a7f2379>.elementor-shape-bottom svg {
	height: 145px;
	transform: translateX(-50%) rotateY(180deg);
}

.elementor-618 .elementor-element.elementor-element-85a7e54>.elementor-element-populated {
	padding: 300px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-779aec4 {
	margin-top: -60px;
	margin-bottom: 0px;
	padding: 0px 90px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-3504927 {
	text-align: right;
}

.elementor-618 .elementor-element.elementor-element-3504927 .elementor-heading-title {
	font-family: "Roboto", Sans-serif;
	font-size: 60px;
	font-weight: 300;
	text-transform: uppercase;
}

.elementor-618 .elementor-element.elementor-element-3504927>.elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-f3c3855 {
	text-align: right;
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 20px;
}

.elementor-618 .elementor-element.elementor-element-f3c3855>.elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-4218cf5 {
	padding: 70px 0px 50px 0px;
}

.elementor-618 .elementor-element.elementor-element-333433a img {
	width: 80%;
}

.elementor-bc-flex-widget .elementor-618 .elementor-element.elementor-element-ad6f1d6.elementor-column .elementor-widget-wrap {
	align-items: flex-start;
}

.elementor-618 .elementor-element.elementor-element-ad6f1d6.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-618 .elementor-element.elementor-element-ad6f1d6>.elementor-element-populated {
	padding: 0px 50px 0px 50px;
}

.elementor-618 .elementor-element.elementor-element-84da1e3 {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 38px;
}

.elementor-618 .elementor-element.elementor-element-c6241e4 {
	padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-618 .elementor-element.elementor-element-c39ce31.elementor-column .elementor-widget-wrap {
	align-items: flex-start;
}

.elementor-618 .elementor-element.elementor-element-c39ce31.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-618 .elementor-element.elementor-element-c39ce31>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 35px;
}

.elementor-618 .elementor-element.elementor-element-c39ce31>.elementor-element-populated {
	padding: 10% 15% 0% 15%;
}

.elementor-618 .elementor-element.elementor-element-0433ecf {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 38px;
}

.elementor-618 .elementor-element.elementor-element-181fcb4 {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 38px;
}

.elementor-618 .elementor-element.elementor-element-4cf572a {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 38px;
}

.elementor-bc-flex-widget .elementor-618 .elementor-element.elementor-element-99106a0.elementor-column .elementor-widget-wrap {
	align-items: flex-start;
}

.elementor-618 .elementor-element.elementor-element-99106a0.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-618 .elementor-element.elementor-element-99106a0>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-618 .elementor-element.elementor-element-9efb7cb {
	text-align: right;
}

.elementor-618 .elementor-element.elementor-element-9efb7cb img {
	width: 100%;
}

@media(max-width:1024px) {
	.elementor-618 .elementor-element.elementor-element-a7f2379>.elementor-container {
		min-height: 275px;
	}

	.elementor-618 .elementor-element.elementor-element-a7f2379:not(.elementor-motion-effects-element-type-background),
	.elementor-618 .elementor-element.elementor-element-a7f2379>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-repeat: no-repeat;
	}

	.elementor-618 .elementor-element.elementor-element-a7f2379>.elementor-shape-bottom svg {
		height: 115px;
	}

	.elementor-618 .elementor-element.elementor-element-a7f2379 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px 40px 0px 0px;
	}

	.elementor-618 .elementor-element.elementor-element-85a7e54>.elementor-element-populated {
		padding: 200px 0px 0px 0px;
	}

	.elementor-618 .elementor-element.elementor-element-779aec4 {
		margin-top: -50px;
		margin-bottom: 0px;
		padding: 0px 40px 0px 0px;
	}

	.elementor-618 .elementor-element.elementor-element-3504927 .elementor-heading-title {
		font-size: 50px;
	}

	.elementor-618 .elementor-element.elementor-element-f3c3855>.elementor-widget-container {
		padding: 0px 0px 0px 0px;
	}

	.elementor-618 .elementor-element.elementor-element-333433a {
		text-align: left;
	}

	.elementor-618 .elementor-element.elementor-element-333433a img {
		width: 100%;
		max-width: 295px;
	}

	.elementor-618 .elementor-element.elementor-element-ad6f1d6>.elementor-element-populated {
		padding: 20px 20px 20px 20px;
	}

	.elementor-618 .elementor-element.elementor-element-c39ce31>.elementor-element-populated {
		padding: 20px 20px 20px 20px;
	}

	.elementor-618 .elementor-element.elementor-element-9efb7cb {
		text-align: left;
	}

	.elementor-618 .elementor-element.elementor-element-9efb7cb img {
		width: 80%;
	}
}

@media(max-width:767px) {
	.elementor-618 .elementor-element.elementor-element-a7f2379>.elementor-container {
		min-height: 240px;
	}

	.elementor-618 .elementor-element.elementor-element-a7f2379:not(.elementor-motion-effects-element-type-background),
	.elementor-618 .elementor-element.elementor-element-a7f2379>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-position: center center;
	}

	.elementor-618 .elementor-element.elementor-element-a7f2379>.elementor-shape-bottom svg {
		height: 70px;
	}

	.elementor-618 .elementor-element.elementor-element-a7f2379 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px 40px 0px 0px;
	}

	.elementor-618 .elementor-element.elementor-element-85a7e54>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}

	.elementor-618 .elementor-element.elementor-element-779aec4 {
		margin-top: -20px;
		margin-bottom: 0px;
		padding: 0px 20px 0px 0px;
	}

	.elementor-618 .elementor-element.elementor-element-3504927 .elementor-heading-title {
		font-size: 28px;
	}

	.elementor-618 .elementor-element.elementor-element-3504927>.elementor-widget-container {
		padding: 0px 0px 0px 0px;
	}

	.elementor-618 .elementor-element.elementor-element-f3c3855 {
		text-align: right;
		font-size: 1rem;
		line-height: 1em;
	}

	.elementor-618 .elementor-element.elementor-element-f3c3855>.elementor-widget-container {
		padding: 0px 0px 0px 0px;
	}

	.elementor-618 .elementor-element.elementor-element-4218cf5 {
		padding: 50px 20px 0px 20px;
	}

	.elementor-618 .elementor-element.elementor-element-5bc0824>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-618 .elementor-element.elementor-element-ad6f1d6>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-618 .elementor-element.elementor-element-84da1e3 {
		font-size: 1rem;
		line-height: 1.7em;
	}

	.elementor-618 .elementor-element.elementor-element-c6241e4 {
		padding: 100px 20px 0px 20px;
	}

	.elementor-618 .elementor-element.elementor-element-c39ce31>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-618 .elementor-element.elementor-element-0433ecf {
		font-size: 1rem;
		line-height: 1.7em;
	}

	.elementor-618 .elementor-element.elementor-element-181fcb4 {
		font-size: 1rem;
		line-height: 1.7em;
	}

	.elementor-618 .elementor-element.elementor-element-4cf572a {
		font-size: 1rem;
		line-height: 1.7em;
	}

	.elementor-618 .elementor-element.elementor-element-9efb7cb img {
		width: 100%;
	}
}

@media(min-width:768px) {
	.elementor-618 .elementor-element.elementor-element-5bc0824 {
		width: 40%;
	}

	.elementor-618 .elementor-element.elementor-element-ad6f1d6 {
		width: 60%;
	}

	.elementor-618 .elementor-element.elementor-element-c39ce31 {
		width: 60%;
	}

	.elementor-618 .elementor-element.elementor-element-99106a0 {
		width: 40%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-618 .elementor-element.elementor-element-ad6f1d6 {
		width: 60%;
	}

	.elementor-618 .elementor-element.elementor-element-c39ce31 {
		width: 100%;
	}

	.elementor-618 .elementor-element.elementor-element-99106a0 {
		width: 100%;
	}
}