.elementor-186 .elementor-element.elementor-element-a7f2379>.elementor-container {
	min-height: 400px;
}

.elementor-186 .elementor-element.elementor-element-a7f2379:not(.elementor-motion-effects-element-type-background),
.elementor-186 .elementor-element.elementor-element-a7f2379>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2023/09/Conveyors-Hero-Banner.jpg");
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-186 .elementor-element.elementor-element-a7f2379 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 80px 0px 30px;
}

.elementor-186 .elementor-element.elementor-element-a7f2379>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-186 .elementor-element.elementor-element-a7f2379>.elementor-shape-bottom svg {
	height: 145px;
	transform: translateX(-50%) rotateY(180deg);
}

.elementor-186 .elementor-element.elementor-element-85a7e54>.elementor-element-populated {
	padding: 300px 0px 0px 0px;
}

.elementor-186 .elementor-element.elementor-element-3fd81b7 {
	margin-top: -60px;
	margin-bottom: 0px;
	padding: 0px 90px 0px 0px;
}

.elementor-186 .elementor-element.elementor-element-8e522ad {
	text-align: right;
}

.elementor-186 .elementor-element.elementor-element-8e522ad .elementor-heading-title {
	font-family: "Roboto", Sans-serif;
	font-size: 60px;
	font-weight: 300;
	text-transform: uppercase;
}

.elementor-186 .elementor-element.elementor-element-8e522ad>.elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

.elementor-186 .elementor-element.elementor-element-fbf0015 {
	text-align: right;
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.1rem;
	font-weight: 300;
	line-height: 20px;
}

.elementor-186 .elementor-element.elementor-element-fbf0015>.elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

.elementor-186 .elementor-element.elementor-element-4218cf5>.elementor-container {
	max-width: 1440px;
}

.elementor-186 .elementor-element.elementor-element-4218cf5 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 30px 100px 30px;
}

.elementor-186 .elementor-element.elementor-element-bbcd3a4 {
	padding: 75px 0px 0px 0px;
}

.elementor-186 .elementor-element.elementor-element-49e3946.elementor-position-right .elementor-image-box-img {
	margin-left: 15px;
}

.elementor-186 .elementor-element.elementor-element-49e3946.elementor-position-left .elementor-image-box-img {
	margin-right: 15px;
}

.elementor-186 .elementor-element.elementor-element-49e3946.elementor-position-top .elementor-image-box-img {
	margin-bottom: 15px;
}

.elementor-186 .elementor-element.elementor-element-49e3946 .elementor-image-box-wrapper .elementor-image-box-img {
	width: 100%;
}

.elementor-186 .elementor-element.elementor-element-49e3946 .elementor-image-box-img img {
	filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
	transition-duration: 0.3s;
}

.elementor-186 .elementor-element.elementor-element-49e3946 .elementor-image-box-title {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-weight: 400;
}

.elementor-186 .elementor-element.elementor-element-5852f7b.elementor-position-right .elementor-image-box-img {
	margin-left: 15px;
}

.elementor-186 .elementor-element.elementor-element-5852f7b.elementor-position-left .elementor-image-box-img {
	margin-right: 15px;
}

.elementor-186 .elementor-element.elementor-element-5852f7b.elementor-position-top .elementor-image-box-img {
	margin-bottom: 15px;
}

.elementor-186 .elementor-element.elementor-element-5852f7b .elementor-image-box-wrapper .elementor-image-box-img {
	width: 100%;
}

.elementor-186 .elementor-element.elementor-element-5852f7b .elementor-image-box-img img {
	filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
	transition-duration: 0.3s;
}

.elementor-186 .elementor-element.elementor-element-5852f7b .elementor-image-box-title {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-weight: 400;
}

.elementor-186 .elementor-element.elementor-element-c4a34b6.elementor-position-right .elementor-image-box-img {
	margin-left: 15px;
}

.elementor-186 .elementor-element.elementor-element-c4a34b6.elementor-position-left .elementor-image-box-img {
	margin-right: 15px;
}

.elementor-186 .elementor-element.elementor-element-c4a34b6.elementor-position-top .elementor-image-box-img {
	margin-bottom: 15px;
}

.elementor-186 .elementor-element.elementor-element-c4a34b6 .elementor-image-box-wrapper .elementor-image-box-img {
	width: 100%;
}

.elementor-186 .elementor-element.elementor-element-c4a34b6 .elementor-image-box-img img {
	filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
	transition-duration: 0.3s;
}

.elementor-186 .elementor-element.elementor-element-c4a34b6 .elementor-image-box-title {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-weight: 400;
}

.elementor-186 .elementor-element.elementor-element-51de318.elementor-position-right .elementor-image-box-img {
	margin-left: 15px;
}

.elementor-186 .elementor-element.elementor-element-51de318.elementor-position-left .elementor-image-box-img {
	margin-right: 15px;
}

.elementor-186 .elementor-element.elementor-element-51de318.elementor-position-top .elementor-image-box-img {
	margin-bottom: 15px;
}

.elementor-186 .elementor-element.elementor-element-51de318 .elementor-image-box-wrapper .elementor-image-box-img {
	width: 100%;
}

.elementor-186 .elementor-element.elementor-element-51de318 .elementor-image-box-img img {
	filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
	transition-duration: 0.3s;
}

.elementor-186 .elementor-element.elementor-element-51de318 .elementor-image-box-title {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-weight: 400;
}

.elementor-186 .elementor-element.elementor-element-8db31e5.elementor-position-right .elementor-image-box-img {
	margin-left: 15px;
}

.elementor-186 .elementor-element.elementor-element-8db31e5.elementor-position-left .elementor-image-box-img {
	margin-right: 15px;
}

.elementor-186 .elementor-element.elementor-element-8db31e5.elementor-position-top .elementor-image-box-img {
	margin-bottom: 15px;
}

.elementor-186 .elementor-element.elementor-element-8db31e5 .elementor-image-box-wrapper .elementor-image-box-img {
	width: 100%;
}

.elementor-186 .elementor-element.elementor-element-8db31e5 .elementor-image-box-img img {
	filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
	transition-duration: 0.3s;
}

.elementor-186 .elementor-element.elementor-element-8db31e5 .elementor-image-box-title {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-weight: 400;
}

.elementor-186 .elementor-element.elementor-element-2960017>.elementor-container {
	max-width: 940px;
}

.elementor-186 .elementor-element.elementor-element-2960017 {
	padding: 0px 30px 50px 30px;
}

.elementor-186 .elementor-element.elementor-element-c8fa70a>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 10px;
}

.elementor-186 .elementor-element.elementor-element-7cf6e81 .elementor-heading-title {
	font-family: "Roboto", Sans-serif;
	font-size: 53px;
	font-weight: 500;
	line-height: 66px;
}

.elementor-186 .elementor-element.elementor-element-7cf6e81>.elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

.elementor-186 .elementor-element.elementor-element-1363101 {
	--spacer-size: 40px;
}

.elementor-186 .elementor-element.elementor-element-91cffbb {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
}

.elementor-186 .elementor-element.elementor-element-91cffbb>.elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

.elementor-186 .elementor-element.elementor-element-4c895a7 {
	--spacer-size: 30px;
}

.elementor-186 .elementor-element.elementor-element-1834f60 .elementor-heading-title {
	font-family: "Roboto", Sans-serif;
	font-size: 1.6rem;
	font-weight: 600;
}

.elementor-186 .elementor-element.elementor-element-1e7504c {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
}

.elementor-186 .elementor-element.elementor-element-1e7504c>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-186 .elementor-element.elementor-element-8f3cbee {
	--spacer-size: 30px;
}

.elementor-186 .elementor-element.elementor-element-2fb57ed .elementor-heading-title {
	font-family: "Roboto", Sans-serif;
	font-size: 1.6rem;
	font-weight: 600;
}

.elementor-186 .elementor-element.elementor-element-9249d35 {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
}

.elementor-186 .elementor-element.elementor-element-9249d35>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-186 .elementor-element.elementor-element-c3a7a07 {
	--spacer-size: 30px;
}

.elementor-186 .elementor-element.elementor-element-ffc6c04 .elementor-heading-title {
	font-family: "Roboto", Sans-serif;
	font-size: 1.6rem;
	font-weight: 600;
}

.elementor-186 .elementor-element.elementor-element-6610c8b {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
}

.elementor-186 .elementor-element.elementor-element-6610c8b>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-186 .elementor-element.elementor-element-9eac67a {
	--spacer-size: 30px;
}

.elementor-186 .elementor-element.elementor-element-1a3c40e .elementor-heading-title {
	font-family: "Roboto", Sans-serif;
	font-size: 1.6rem;
	font-weight: 600;
}

.elementor-186 .elementor-element.elementor-element-f00612f {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
}

.elementor-186 .elementor-element.elementor-element-f00612f>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-186 .elementor-element.elementor-element-1a7e381 {
	--spacer-size: 30px;
}

.elementor-186 .elementor-element.elementor-element-71c3491 .elementor-heading-title {
	font-family: "Roboto", Sans-serif;
	font-size: 1.6rem;
	font-weight: 600;
}

.elementor-186 .elementor-element.elementor-element-31d865a {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
}

.elementor-186 .elementor-element.elementor-element-31d865a>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

@media(max-width:1366px) {
	.elementor-186 .elementor-element.elementor-element-3fd81b7 {
		padding: 0px 50px 0px 0px;
	}

	.elementor-186 .elementor-element.elementor-element-49e3946 .elementor-image-box-title {
		font-size: 20px;
	}

	.elementor-186 .elementor-element.elementor-element-5852f7b .elementor-image-box-title {
		font-size: 20px;
	}

	.elementor-186 .elementor-element.elementor-element-c4a34b6 .elementor-image-box-title {
		font-size: 20px;
	}

	.elementor-186 .elementor-element.elementor-element-51de318 .elementor-image-box-title {
		font-size: 20px;
	}

	.elementor-186 .elementor-element.elementor-element-8db31e5 .elementor-image-box-title {
		font-size: 20px;
	}

	.elementor-186 .elementor-element.elementor-element-2960017>.elementor-container {
		max-width: 840px;
	}

	.elementor-186 .elementor-element.elementor-element-2960017 {
		padding: 0px 50px 50px 50px;
	}

	.elementor-186 .elementor-element.elementor-element-7cf6e81 .elementor-heading-title {
		font-size: 38px;
		line-height: 50px;
	}

	.elementor-186 .elementor-element.elementor-element-1e7504c {
		font-size: 24px;
	}

	.elementor-186 .elementor-element.elementor-element-9249d35 {
		font-size: 24px;
	}

	.elementor-186 .elementor-element.elementor-element-6610c8b {
		font-size: 24px;
	}

	.elementor-186 .elementor-element.elementor-element-f00612f {
		font-size: 24px;
	}

	.elementor-186 .elementor-element.elementor-element-31d865a {
		font-size: 24px;
	}
}

@media(max-width:1024px) {
	.elementor-186 .elementor-element.elementor-element-a7f2379>.elementor-container {
		min-height: 275px;
	}

	.elementor-186 .elementor-element.elementor-element-a7f2379:not(.elementor-motion-effects-element-type-background),
	.elementor-186 .elementor-element.elementor-element-a7f2379>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-repeat: no-repeat;
	}

	.elementor-186 .elementor-element.elementor-element-a7f2379>.elementor-shape-bottom svg {
		height: 115px;
	}

	.elementor-186 .elementor-element.elementor-element-a7f2379 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px 40px 0px 0px;
	}

	.elementor-186 .elementor-element.elementor-element-85a7e54>.elementor-element-populated {
		padding: 200px 0px 0px 0px;
	}

	.elementor-186 .elementor-element.elementor-element-3fd81b7 {
		margin-top: -50px;
		margin-bottom: 0px;
		padding: 0px 20px 0px 0px;
	}

	.elementor-186 .elementor-element.elementor-element-8e522ad .elementor-heading-title {
		font-size: 50px;
	}

	.elementor-186 .elementor-element.elementor-element-fbf0015>.elementor-widget-container {
		padding: 0px 0px 0px 0px;
	}

	.elementor-186 .elementor-element.elementor-element-4218cf5 {
		padding: 0px 0px 50px 0px;
	}

	.elementor-186 .elementor-element.elementor-element-bbcd3a4 {
		padding: 50px 0px 0px 0px;
	}

	.elementor-186 .elementor-element.elementor-element-c95b570>.elementor-element-populated {
		padding: 10px 10px 10px 10px;
	}

	.elementor-186 .elementor-element.elementor-element-49e3946 .elementor-image-box-title {
		font-size: 16px;
	}

	.elementor-186 .elementor-element.elementor-element-55022bb>.elementor-element-populated {
		padding: 10px 10px 10px 10px;
	}

	.elementor-186 .elementor-element.elementor-element-5852f7b .elementor-image-box-title {
		font-size: 16px;
	}

	.elementor-186 .elementor-element.elementor-element-6c1bfe0>.elementor-element-populated {
		padding: 10px 10px 10px 10px;
	}

	.elementor-186 .elementor-element.elementor-element-c4a34b6 .elementor-image-box-title {
		font-size: 16px;
	}

	.elementor-186 .elementor-element.elementor-element-e736586>.elementor-element-populated {
		padding: 10px 10px 10px 10px;
	}

	.elementor-186 .elementor-element.elementor-element-51de318 .elementor-image-box-title {
		font-size: 16px;
	}

	.elementor-186 .elementor-element.elementor-element-a834df8>.elementor-element-populated {
		padding: 10px 10px 10px 10px;
	}

	.elementor-186 .elementor-element.elementor-element-8db31e5 .elementor-image-box-title {
		font-size: 16px;
	}

	.elementor-186 .elementor-element.elementor-element-7cf6e81 .elementor-heading-title {
		font-size: 31px;
	}
}

@media(max-width:767px) {
	.elementor-186 .elementor-element.elementor-element-a7f2379>.elementor-container {
		min-height: 240px;
	}

	.elementor-186 .elementor-element.elementor-element-a7f2379:not(.elementor-motion-effects-element-type-background),
	.elementor-186 .elementor-element.elementor-element-a7f2379>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-position: center center;
	}

	.elementor-186 .elementor-element.elementor-element-a7f2379>.elementor-shape-bottom svg {
		height: 70px;
	}

	.elementor-186 .elementor-element.elementor-element-a7f2379 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px 40px 0px 0px;
	}

	.elementor-186 .elementor-element.elementor-element-85a7e54>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 200px 0px 0px 0px;
	}

	.elementor-186 .elementor-element.elementor-element-3fd81b7 {
		margin-top: -20px;
		margin-bottom: 0px;
		padding: 0px 20px 0px 0px;
	}

	.elementor-186 .elementor-element.elementor-element-8e522ad .elementor-heading-title {
		font-size: 28px;
	}

	.elementor-186 .elementor-element.elementor-element-8e522ad>.elementor-widget-container {
		padding: 0px 0px 0px 0px;
	}

	.elementor-186 .elementor-element.elementor-element-fbf0015 {
		text-align: right;
		font-size: 1rem;
		line-height: 1em;
	}

	.elementor-186 .elementor-element.elementor-element-fbf0015>.elementor-widget-container {
		padding: 0px 0px 0px 0px;
	}

	.elementor-186 .elementor-element.elementor-element-4218cf5 {
		padding: 0px 20px 05px 20px;
	}

	.elementor-186 .elementor-element.elementor-element-5bc0824>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-186 .elementor-element.elementor-element-49e3946 .elementor-image-box-img {
		margin-bottom: 15px;
	}

	.elementor-186 .elementor-element.elementor-element-5852f7b .elementor-image-box-img {
		margin-bottom: 15px;
	}

	.elementor-186 .elementor-element.elementor-element-c4a34b6 .elementor-image-box-img {
		margin-bottom: 15px;
	}

	.elementor-186 .elementor-element.elementor-element-51de318 .elementor-image-box-img {
		margin-bottom: 15px;
	}

	.elementor-186 .elementor-element.elementor-element-8db31e5 .elementor-image-box-img {
		margin-bottom: 15px;
	}

	.elementor-186 .elementor-element.elementor-element-2960017 {
		padding: 50px 20px 0px 20px;
	}

	.elementor-186 .elementor-element.elementor-element-c8fa70a>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-186 .elementor-element.elementor-element-7cf6e81 .elementor-heading-title {
		font-size: 23px;
		line-height: 1.3em;
	}

	.elementor-186 .elementor-element.elementor-element-1363101 {
		--spacer-size: 30px;
	}

	.elementor-186 .elementor-element.elementor-element-91cffbb {
		font-size: 20px;
	}

	.elementor-186 .elementor-element.elementor-element-1834f60 .elementor-heading-title {
		font-size: 22px;
	}

	.elementor-186 .elementor-element.elementor-element-1e7504c {
		font-size: 1.4rem;
	}

	.elementor-186 .elementor-element.elementor-element-2fb57ed .elementor-heading-title {
		font-size: 22px;
	}

	.elementor-186 .elementor-element.elementor-element-9249d35 {
		font-size: 1.4rem;
	}

	.elementor-186 .elementor-element.elementor-element-ffc6c04 .elementor-heading-title {
		font-size: 22px;
	}

	.elementor-186 .elementor-element.elementor-element-6610c8b {
		font-size: 1.4rem;
	}

	.elementor-186 .elementor-element.elementor-element-1a3c40e .elementor-heading-title {
		font-size: 22px;
	}

	.elementor-186 .elementor-element.elementor-element-f00612f {
		font-size: 1.4rem;
	}

	.elementor-186 .elementor-element.elementor-element-71c3491 .elementor-heading-title {
		font-size: 22px;
	}

	.elementor-186 .elementor-element.elementor-element-31d865a {
		font-size: 1.4rem;
	}
}