.elementor-53 .elementor-element.elementor-element-a7f2379>.elementor-container {
	min-height: 600px;
}

.elementor-53 .elementor-element.elementor-element-a7f2379:not(.elementor-motion-effects-element-type-background),
.elementor-53 .elementor-element.elementor-element-a7f2379>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2023/07/Image-7.png");
	background-position: center center;
	background-size: cover;
}

.elementor-53 .elementor-element.elementor-element-a7f2379 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-53 .elementor-element.elementor-element-a7f2379>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53 .elementor-element.elementor-element-85a7e54>.elementor-element-populated {
	padding: 300px 0px 0px 0px;
}

.elementor-53 .elementor-element.elementor-element-a99d39c {
	margin-top: 0px;
	margin-bottom: -150px;
	padding: 0px 30px 0px 30px;
	z-index: 1;
}

.elementor-53 .elementor-element.elementor-element-d01b644 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Fira Sans", Sans-serif;
	font-size: 3.4rem;
	font-weight: 300;
}

.elementor-53 .elementor-element.elementor-element-d01b644>.elementor-widget-container {
	margin: 0px 0px 100px 0px;
	padding: 30px 50px 30px 50px;
	background-color: #4242427A;
}

.elementor-53 .elementor-element.elementor-element-d01b644 {
	width: auto;
	max-width: auto;
}

.elementor-53 .elementor-element.elementor-element-280b272>.elementor-widget-container {
	margin: 0px 0px 0px 50px;
}

.elementor-53 .elementor-element.elementor-element-2002158 {
	text-align: right;
}

.elementor-53 .elementor-element.elementor-element-2002158 img {
	width: 100%;
	max-width: 500px;
}

.elementor-53 .elementor-element.elementor-element-f25893c img {
	width: 100%;
}

.elementor-53 .elementor-element.elementor-element-4218cf5 {
	margin-top: 0px;
	margin-bottom: 100px;
	padding: 0px 30px 0px 30px;
}

.elementor-bc-flex-widget .elementor-53 .elementor-element.elementor-element-03dc618.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-53 .elementor-element.elementor-element-03dc618.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-53 .elementor-element.elementor-element-03dc618>.elementor-element-populated {
	padding: 0px 0px 0px 80px;
}

.elementor-53 .elementor-element.elementor-element-a427ea8 {
	color: #333333;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
}

.elementor-53 .elementor-element.elementor-element-a7c59c1 {
	margin-top: 0px;
	margin-bottom: 50px;
}

.elementor-53 .elementor-element.elementor-element-30726c8>.elementor-container {
	max-width: 1300px;
}

.elementor-53 .elementor-element.elementor-element-30726c8:not(.elementor-motion-effects-element-type-background),
.elementor-53 .elementor-element.elementor-element-30726c8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-primary);
}

.elementor-53 .elementor-element.elementor-element-30726c8 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 100px 30px 100px 30px;
}

.elementor-53 .elementor-element.elementor-element-30726c8>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53 .elementor-element.elementor-element-3ea0751>.elementor-element-populated {
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	border-color: #B74A56;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 50px 20px 50px 20px;
}

.elementor-53 .elementor-element.elementor-element-3ea0751>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53 .elementor-element.elementor-element-a81c3bc img {
	width: 100px;
}

.elementor-53 .elementor-element.elementor-element-a81c3bc>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-53 .elementor-element.elementor-element-3ec8811 .elementor-counter-number-wrapper {
	color: #FFFFFF;
	font-family: "Fira Sans", Sans-serif;
	font-weight: 800;
	line-height: 1em;
}

.elementor-53 .elementor-element.elementor-element-ebecb44 {
	text-align: center;
	color: #FFFFFF;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	font-style: italic;
	line-height: 1.3em;
}

.elementor-53 .elementor-element.elementor-element-1be37bc>.elementor-element-populated {
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #B74A56;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 50px 20px 50px 20px;
}

.elementor-53 .elementor-element.elementor-element-1be37bc>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53 .elementor-element.elementor-element-0471ed1 img {
	width: 100px;
}

.elementor-53 .elementor-element.elementor-element-0471ed1>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-53 .elementor-element.elementor-element-a283077 .elementor-counter-number-wrapper {
	color: #FFFFFF;
	font-family: "Fira Sans", Sans-serif;
	font-weight: 800;
	line-height: 1em;
}

.elementor-53 .elementor-element.elementor-element-dcef7ef {
	text-align: center;
	color: #FFFFFF;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	font-style: italic;
	line-height: 1.3em;
}

.elementor-53 .elementor-element.elementor-element-d2c83d1>.elementor-element-populated {
	border-style: solid;
	border-width: 0px 0px 1px 1px;
	border-color: #B74A56;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 50px 20px 50px 20px;
}

.elementor-53 .elementor-element.elementor-element-d2c83d1>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53 .elementor-element.elementor-element-93a1396 img {
	width: 224px;
}

.elementor-53 .elementor-element.elementor-element-93a1396>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-53 .elementor-element.elementor-element-88bff39 .elementor-counter-number-wrapper {
	color: #FFFFFF;
	font-family: "Fira Sans", Sans-serif;
	font-weight: 800;
	line-height: 1em;
}

.elementor-53 .elementor-element.elementor-element-1a61380 {
	text-align: center;
	color: #FFFFFF;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	font-style: italic;
	line-height: 1.3em;
}

.elementor-53 .elementor-element.elementor-element-2aaa046>.elementor-element-populated {
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-color: #B74A56;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 50px 20px 50px 20px;
}

.elementor-53 .elementor-element.elementor-element-2aaa046>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53 .elementor-element.elementor-element-9f5c625 img {
	width: 100px;
}

.elementor-53 .elementor-element.elementor-element-9f5c625>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-53 .elementor-element.elementor-element-a7e31c2 .elementor-counter-number-wrapper {
	color: #FFFFFF;
	font-family: "Fira Sans", Sans-serif;
	font-weight: 800;
	line-height: 1em;
}

.elementor-53 .elementor-element.elementor-element-9ceda74 {
	text-align: center;
	color: #FFFFFF;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	font-style: italic;
	line-height: 1.3em;
}

.elementor-53 .elementor-element.elementor-element-72ccc49>.elementor-element-populated {
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-color: #B74A56;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 50px 20px 50px 20px;
}

.elementor-53 .elementor-element.elementor-element-72ccc49>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53 .elementor-element.elementor-element-a22e1e9 img {
	width: 100px;
}

.elementor-53 .elementor-element.elementor-element-a22e1e9>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-53 .elementor-element.elementor-element-517a0d0 .elementor-counter-number-wrapper {
	color: #FFFFFF;
	font-family: "Fira Sans", Sans-serif;
	font-weight: 800;
	line-height: 1em;
}

.elementor-53 .elementor-element.elementor-element-1665d7c {
	text-align: center;
	color: #FFFFFF;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	font-style: italic;
	line-height: 1.3em;
}

.elementor-53 .elementor-element.elementor-element-a3f751c>.elementor-element-populated {
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	border-color: #B74A56;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 50px 20px 50px 20px;
}

.elementor-53 .elementor-element.elementor-element-a3f751c>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53 .elementor-element.elementor-element-2ece5b3 img {
	width: 110px;
}

.elementor-53 .elementor-element.elementor-element-2ece5b3>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-53 .elementor-element.elementor-element-aaecb24 .elementor-counter-number-wrapper {
	color: #FFFFFF;
	font-family: "Fira Sans", Sans-serif;
	font-weight: 800;
	line-height: 1em;
}

.elementor-53 .elementor-element.elementor-element-a78e944 {
	text-align: center;
	color: #FFFFFF;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	font-style: italic;
	line-height: 1.3em;
}

.elementor-53 .elementor-element.elementor-element-e9e6889>.elementor-container {
	max-width: 1300px;
}

.elementor-53 .elementor-element.elementor-element-e9e6889:not(.elementor-motion-effects-element-type-background),
.elementor-53 .elementor-element.elementor-element-e9e6889>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-primary);
}

.elementor-53 .elementor-element.elementor-element-e9e6889 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 100px 30px 100px 30px;
}

.elementor-53 .elementor-element.elementor-element-e9e6889>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53 .elementor-element.elementor-element-d5ef438>.elementor-element-populated {
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	border-color: #B74A56;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 50px 20px 50px 20px;
}

.elementor-53 .elementor-element.elementor-element-d5ef438>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53 .elementor-element.elementor-element-c17f982 img {
	width: 100px;
}

.elementor-53 .elementor-element.elementor-element-c17f982>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-53 .elementor-element.elementor-element-7dcde6d .elementor-counter-number-wrapper {
	color: #FFFFFF;
	font-family: "Fira Sans", Sans-serif;
	font-weight: 800;
	line-height: 1em;
}

.elementor-53 .elementor-element.elementor-element-faa2dc8 {
	text-align: center;
	color: #FFFFFF;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	font-style: italic;
	line-height: 1.3em;
}

.elementor-53 .elementor-element.elementor-element-cb5edc9>.elementor-element-populated {
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #B74A56;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 50px 20px 50px 20px;
}

.elementor-53 .elementor-element.elementor-element-cb5edc9>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53 .elementor-element.elementor-element-3d0cec1 img {
	width: 100px;
}

.elementor-53 .elementor-element.elementor-element-3d0cec1>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-53 .elementor-element.elementor-element-dffd2e5 .elementor-counter-number-wrapper {
	color: #FFFFFF;
	font-family: "Fira Sans", Sans-serif;
	font-weight: 800;
	line-height: 1em;
}

.elementor-53 .elementor-element.elementor-element-acd4c69 {
	text-align: center;
	color: #FFFFFF;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	font-style: italic;
	line-height: 1.3em;
}

.elementor-53 .elementor-element.elementor-element-b4c8cf6>.elementor-element-populated {
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #B74A56;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 50px 20px 50px 20px;
}

.elementor-53 .elementor-element.elementor-element-b4c8cf6>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53 .elementor-element.elementor-element-ebd07c0 img {
	width: 100px;
}

.elementor-53 .elementor-element.elementor-element-ebd07c0>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-53 .elementor-element.elementor-element-6f93b86 .elementor-counter-number-wrapper {
	color: #FFFFFF;
	font-family: "Fira Sans", Sans-serif;
	font-weight: 800;
	line-height: 1em;
}

.elementor-53 .elementor-element.elementor-element-a0e5284 {
	text-align: center;
	color: #FFFFFF;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	font-style: italic;
	line-height: 1.3em;
}

.elementor-53 .elementor-element.elementor-element-725fdfa>.elementor-element-populated {
	border-style: solid;
	border-width: 0px 0px 1px 1px;
	border-color: #B74A56;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 50px 20px 50px 20px;
}

.elementor-53 .elementor-element.elementor-element-725fdfa>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53 .elementor-element.elementor-element-aeed090 img {
	width: 100px;
}

.elementor-53 .elementor-element.elementor-element-aeed090>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-53 .elementor-element.elementor-element-9d98da1 .elementor-counter-number-wrapper {
	color: #FFFFFF;
	font-family: "Fira Sans", Sans-serif;
	font-weight: 800;
	line-height: 1em;
}

.elementor-53 .elementor-element.elementor-element-9776eb4 {
	text-align: center;
	color: #FFFFFF;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	font-style: italic;
	line-height: 1.3em;
}

.elementor-53 .elementor-element.elementor-element-e7f9f9d>.elementor-element-populated {
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-color: #B74A56;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 50px 20px 50px 20px;
}

.elementor-53 .elementor-element.elementor-element-e7f9f9d>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53 .elementor-element.elementor-element-1972c2d img {
	width: 100px;
}

.elementor-53 .elementor-element.elementor-element-1972c2d>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-53 .elementor-element.elementor-element-47cd2b7 .elementor-counter-number-wrapper {
	color: #FFFFFF;
	font-family: "Fira Sans", Sans-serif;
	font-weight: 800;
	line-height: 1em;
}

.elementor-53 .elementor-element.elementor-element-f14d5f5 {
	text-align: center;
	color: #FFFFFF;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	font-style: italic;
	line-height: 1.3em;
}

.elementor-53 .elementor-element.elementor-element-8a58a67>.elementor-element-populated {
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	border-color: #B74A56;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 50px 20px 50px 20px;
}

.elementor-53 .elementor-element.elementor-element-8a58a67>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53 .elementor-element.elementor-element-d398235 img {
	width: 100px;
}

.elementor-53 .elementor-element.elementor-element-d398235>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-53 .elementor-element.elementor-element-6a0bbc6 .elementor-counter-number-wrapper {
	color: #FFFFFF;
	font-family: "Fira Sans", Sans-serif;
	font-weight: 800;
	line-height: 1em;
}

.elementor-53 .elementor-element.elementor-element-b411c38 {
	text-align: center;
	color: #FFFFFF;
	font-family: "Roboto", Sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	font-style: italic;
	line-height: 1.3em;
}

.elementor-53 .elementor-element.elementor-element-13b5b96>.elementor-container {
	max-width: 1239px;
}

.elementor-53 .elementor-element.elementor-element-13b5b96 {
	padding: 100px 0px 100px 0px;
}

.elementor-53 .elementor-element.elementor-element-2e44120 .elementor-heading-title {
	font-family: "Fira Sans", Sans-serif;
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 1.2em;
}

.elementor-53 .elementor-element.elementor-element-58d0413 img {
	width: 100%;
}

.elementor-53 .elementor-element.elementor-element-df5b271>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-53 .elementor-element.elementor-element-eb8aee8 .elementor-heading-title {
	font-family: "Fira Sans", Sans-serif;
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 1.2em;
}

.elementor-53 .elementor-element.elementor-element-eb8aee8>.elementor-widget-container {
	margin: 0px 0px 47px 0px;
}

.elementor-53 .elementor-element.elementor-element-6dcf243 img {
	width: 100%;
}

.elementor-53 .elementor-element.elementor-element-3fd6de3>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-53 .elementor-element.elementor-element-6290417>.elementor-container {
	max-width: 1194px;
}

.elementor-53 .elementor-element.elementor-element-c4b1928>.elementor-element-populated {
	margin: 50px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
}

.elementor-53 .elementor-element.elementor-element-fad9f20 .elementor-heading-title {
	color: #F9B23E;
	font-family: "Fira Sans", Sans-serif;
	font-size: 2.2rem;
	font-weight: 500;
	line-height: 1.2em;
}

.elementor-53 .elementor-element.elementor-element-fad9f20>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

@media(max-width:1024px) {
	.elementor-53 .elementor-element.elementor-element-a7f2379>.elementor-container {
		min-height: 436px;
	}

	.elementor-53 .elementor-element.elementor-element-a7f2379:not(.elementor-motion-effects-element-type-background),
	.elementor-53 .elementor-element.elementor-element-a7f2379>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-repeat: no-repeat;
	}

	.elementor-53 .elementor-element.elementor-element-a7f2379 {
		margin-top: 0px;
		margin-bottom: 70px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-53 .elementor-element.elementor-element-85a7e54>.elementor-element-populated {
		padding: 200px 0px 0px 0px;
	}

	.elementor-53 .elementor-element.elementor-element-d01b644 .elementor-heading-title {
		font-size: 1.7em;
	}

	.elementor-53 .elementor-element.elementor-element-d01b644>.elementor-widget-container {
		margin: 0px 0px 30px 0px;
		padding: 10px 10px 10px 10px;
	}

	.elementor-53 .elementor-element.elementor-element-280b272>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-53 .elementor-element.elementor-element-2002158 img {
		width: 75%;
	}

	.elementor-53 .elementor-element.elementor-element-f465287 img {
		width: 100%;
		max-width: 295px;
	}

	.elementor-53 .elementor-element.elementor-element-03dc618>.elementor-element-populated {
		padding: 20px 20px 20px 20px;
	}

	.elementor-53 .elementor-element.elementor-element-3ec8811 .elementor-counter-number-wrapper {
		font-size: 2.7rem;
	}

	.elementor-53 .elementor-element.elementor-element-ebecb44 {
		font-size: 1em;
	}

	.elementor-53 .elementor-element.elementor-element-a283077 .elementor-counter-number-wrapper {
		font-size: 2.7rem;
	}

	.elementor-53 .elementor-element.elementor-element-dcef7ef {
		font-size: 1em;
	}

	.elementor-53 .elementor-element.elementor-element-88bff39 .elementor-counter-number-wrapper {
		font-size: 2.7rem;
	}

	.elementor-53 .elementor-element.elementor-element-1a61380 {
		font-size: 1em;
	}

	.elementor-53 .elementor-element.elementor-element-a7e31c2 .elementor-counter-number-wrapper {
		font-size: 2.7rem;
	}

	.elementor-53 .elementor-element.elementor-element-9ceda74 {
		font-size: 1em;
	}

	.elementor-53 .elementor-element.elementor-element-517a0d0 .elementor-counter-number-wrapper {
		font-size: 2.7rem;
	}

	.elementor-53 .elementor-element.elementor-element-1665d7c {
		font-size: 1em;
	}

	.elementor-53 .elementor-element.elementor-element-aaecb24 .elementor-counter-number-wrapper {
		font-size: 2.7rem;
	}

	.elementor-53 .elementor-element.elementor-element-a78e944 {
		font-size: 1em;
	}

	.elementor-53 .elementor-element.elementor-element-7dcde6d .elementor-counter-number-wrapper {
		font-size: 2.7rem;
	}

	.elementor-53 .elementor-element.elementor-element-faa2dc8 {
		font-size: 1em;
	}

	.elementor-53 .elementor-element.elementor-element-dffd2e5 .elementor-counter-number-wrapper {
		font-size: 2.7rem;
	}

	.elementor-53 .elementor-element.elementor-element-acd4c69 {
		font-size: 1em;
	}

	.elementor-53 .elementor-element.elementor-element-6f93b86 .elementor-counter-number-wrapper {
		font-size: 2.7rem;
	}

	.elementor-53 .elementor-element.elementor-element-a0e5284 {
		font-size: 1em;
	}

	.elementor-53 .elementor-element.elementor-element-9d98da1 .elementor-counter-number-wrapper {
		font-size: 2.7rem;
	}

	.elementor-53 .elementor-element.elementor-element-9776eb4 {
		font-size: 1em;
	}

	.elementor-53 .elementor-element.elementor-element-47cd2b7 .elementor-counter-number-wrapper {
		font-size: 2.7rem;
	}

	.elementor-53 .elementor-element.elementor-element-f14d5f5 {
		font-size: 1em;
	}

	.elementor-53 .elementor-element.elementor-element-6a0bbc6 .elementor-counter-number-wrapper {
		font-size: 2.7rem;
	}

	.elementor-53 .elementor-element.elementor-element-b411c38 {
		font-size: 1em;
	}
}

@media(max-width:767px) {
	.elementor-53 .elementor-element.elementor-element-a7f2379>.elementor-container {
		min-height: 0px;
	}

	.elementor-53 .elementor-element.elementor-element-a7f2379 {
		margin-top: 0px;
		margin-bottom: 50px;
	}

	.elementor-53 .elementor-element.elementor-element-85a7e54>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 130px 0px 0px 0px;
	}

	.elementor-53 .elementor-element.elementor-element-a99d39c {
		margin-top: 0px;
		margin-bottom: -50px;
		padding: 0px 0px 50px 0px;
	}

	.elementor-53 .elementor-element.elementor-element-d01b644 {
		text-align: center;
		width: 100%;
		max-width: 100%;
	}

	.elementor-53 .elementor-element.elementor-element-d01b644 .elementor-heading-title {
		font-size: 1.5em;
	}

	.elementor-53 .elementor-element.elementor-element-d01b644>.elementor-widget-container {
		padding: 0px 0px 0px 0px;
	}

	.elementor-53 .elementor-element.elementor-element-ce0d992>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-53 .elementor-element.elementor-element-2002158>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-53 .elementor-element.elementor-element-f465287 img {
		width: 100%;
		max-width: 100%;
	}

	.elementor-53 .elementor-element.elementor-element-03dc618>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-53 .elementor-element.elementor-element-a427ea8 {
		font-size: 1rem;
	}

	.elementor-53 .elementor-element.elementor-element-3ea0751 {
		width: 100%;
	}

	.elementor-53 .elementor-element.elementor-element-3ea0751>.elementor-element-populated {
		margin: 0px 0px 20px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-53 .elementor-element.elementor-element-1be37bc {
		width: 100%;
	}

	.elementor-53 .elementor-element.elementor-element-1be37bc>.elementor-element-populated {
		margin: 0px 0px 20px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-53 .elementor-element.elementor-element-d2c83d1>.elementor-element-populated {
		margin: 0px 0px 20px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-53 .elementor-element.elementor-element-2aaa046>.elementor-element-populated {
		margin: 0px 0px 20px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-53 .elementor-element.elementor-element-72ccc49>.elementor-element-populated {
		margin: 0px 0px 20px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-53 .elementor-element.elementor-element-a3f751c>.elementor-element-populated {
		margin: 0px 0px 20px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-53 .elementor-element.elementor-element-d5ef438 {
		width: 50%;
	}

	.elementor-53 .elementor-element.elementor-element-d5ef438>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 20px 0px 20px 0px;
	}

	.elementor-53 .elementor-element.elementor-element-c17f982 img {
		width: 85px;
	}

	.elementor-53 .elementor-element.elementor-element-7dcde6d .elementor-counter-number-wrapper {
		font-size: 1.8rem;
	}

	.elementor-53 .elementor-element.elementor-element-faa2dc8 {
		font-size: 0.9rem;
	}

	.elementor-53 .elementor-element.elementor-element-cb5edc9 {
		width: 50%;
	}

	.elementor-53 .elementor-element.elementor-element-cb5edc9>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 20px 0px 20px 0px;
	}

	.elementor-53 .elementor-element.elementor-element-3d0cec1 img {
		width: 85px;
	}

	.elementor-53 .elementor-element.elementor-element-dffd2e5 .elementor-counter-number-wrapper {
		font-size: 1.8rem;
	}

	.elementor-53 .elementor-element.elementor-element-acd4c69 {
		font-size: 0.9rem;
	}

	.elementor-53 .elementor-element.elementor-element-b4c8cf6 {
		width: 50%;
	}

	.elementor-53 .elementor-element.elementor-element-b4c8cf6>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 20px 0px 20px 0px;
	}

	.elementor-53 .elementor-element.elementor-element-ebd07c0 img {
		width: 121px;
		height: 76px;
		object-fit: contain;
	}

	.elementor-53 .elementor-element.elementor-element-6f93b86 .elementor-counter-number-wrapper {
		font-size: 1.8rem;
	}

	.elementor-53 .elementor-element.elementor-element-a0e5284 {
		font-size: 0.9rem;
	}

	.elementor-53 .elementor-element.elementor-element-725fdfa {
		width: 50%;
	}

	.elementor-53 .elementor-element.elementor-element-725fdfa>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 20px 0px 20px 0px;
	}

	.elementor-53 .elementor-element.elementor-element-aeed090 img {
		width: 85px;
	}

	.elementor-53 .elementor-element.elementor-element-9d98da1 .elementor-counter-number-wrapper {
		font-size: 1.8rem;
	}

	.elementor-53 .elementor-element.elementor-element-9776eb4 {
		font-size: 0.9rem;
	}

	.elementor-53 .elementor-element.elementor-element-e7f9f9d {
		width: 50%;
	}

	.elementor-53 .elementor-element.elementor-element-e7f9f9d>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 20px 0px 20px 0px;
	}

	.elementor-53 .elementor-element.elementor-element-1972c2d img {
		width: 85px;
	}

	.elementor-53 .elementor-element.elementor-element-47cd2b7 .elementor-counter-number-wrapper {
		font-size: 1.8rem;
	}

	.elementor-53 .elementor-element.elementor-element-f14d5f5 {
		font-size: 0.9rem;
	}

	.elementor-53 .elementor-element.elementor-element-8a58a67 {
		width: 50%;
	}

	.elementor-53 .elementor-element.elementor-element-8a58a67>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 20px 0px 20px 0px;
	}

	.elementor-53 .elementor-element.elementor-element-d398235 img {
		width: 85px;
	}

	.elementor-53 .elementor-element.elementor-element-6a0bbc6 .elementor-counter-number-wrapper {
		font-size: 1.8rem;
	}

	.elementor-53 .elementor-element.elementor-element-b411c38 {
		font-size: 0.9rem;
	}

	.elementor-53 .elementor-element.elementor-element-6a721b0>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}
}

@media(min-width:768px) {
	.elementor-53 .elementor-element.elementor-element-66bf02b {
		width: 50%;
	}

	.elementor-53 .elementor-element.elementor-element-03dc618 {
		width: 50%;
	}

	.elementor-53 .elementor-element.elementor-element-c4b1928 {
		width: 45%;
	}

	.elementor-53 .elementor-element.elementor-element-6a721b0 {
		width: 55%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-53 .elementor-element.elementor-element-66bf02b {
		width: 100%;
	}

	.elementor-53 .elementor-element.elementor-element-03dc618 {
		width: 100%;
	}
}